<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header">
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h1 class="text-center"><a class="nostyle" href="/">Luxclusif</a></h1>

        <img id="home-img" th:src="@{images/women-bag.png}" alt="Luxclusif">

        <h3 class="text-center">Give your bag a Second Life</h3>

        <button id="start-btn" class="btn btn-dark btn-lg" type="button"><a href="/luxclusif/customer/signup">Get Started</a></button>
    </div>

</div>


</body>
</html>